# Ignore node_modules in the entire project
node_modules/

# Ignore node_modules specifically inside frontend
frontend/node_modules/

# Ignore environment variable files
.env

# Ignore logs and system files
npm-debug.log
.DS_Store
